.GridContainer {
    display: grid;
    width: 1024px;
    grid-template-columns: 100px;
    grid-template-rows: 100px;
}

.Box1 {
    border: solid black;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
}